[submodule "lib/libcouchbase-cxx"]
	path = lib/libcouchbase-cxx
	url = https://github.com/couchbaselabs/libcouchbase-cxx.git
git
[submodule "lib/boost/asio"]
	path = lib/boost/asio
	url = https://github.com/boostorg/asio.git
